<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    {% for i in health.articles %}
   
            <div style="color: black;" class="featured_box">
                <center>
                    <h2 style="font-size: large;">{{i.title}}</h2>
              
                <img src="{{i.urlToImage}}" alt="" />
                    <p>{{i.description}}
              
               <a href="{{i.url}}">Continue Reading&raquo;</a></p>
               </center>
            </div>
        <br><br><br>
    {% endfor %}

</body>

</html>